@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto' sans-serif;
}


.green {
    color: #2FFBC8;
}

.header{ 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* background-color: black; */
    color: white;
    padding-top: 40px;

}

.header .logo {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;

}

.header_container {
    width: 1224px;
    margin: 0 auto;
}

.header_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header .header_btn{
    display: flex;
    flex-wrap: wrap;
    max-width: 120px;
    
}

.header .header_lang {
    position: absolute;
    right: 40px;
    top: 40px;
}

.header .menu_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu_overlay.active{
    z-index:4;
	background-color: rgba(0,0,0,1);
}

.header .menu {
    background-color: rgba(0,0,0,1);
    list-style: none;
    width: 100%;
    text-align: center;
    transition: all .5s;
    transform: scale(0);
}


.menu_overlay.active .menu{
    z-index: 5;
	transform: scale(1);	
}

.header .menu li a {
    display: block;
    font-size: 3em;
    font-weight: 700;
    text-decoration: none;
}

.header .header_menu {
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
}



.header .menu_line {
    position:relative;
}

.header .menu_line::after {
    content:"";
    position:absolute;
    border-top:2px solid white;
    width:50px;
    bottom: 2px;
}

.header .menu_line::before {
    content:"";
    position:absolute;
    border-top:2px solid white;
    width:50px;
    margin-top: 5.5px;
    
}

.header .menu_text {
    z-index: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

.header .header_btn .header_search {
    padding-right: 61px;
}

.header .header_search {
    display: block;
}

.header .header_account {
    display: block;
}


.promo_container {
    margin: 0 auto;
    max-width: 1224px;
}

.promo {
    padding-top: 134px;
    margin-top: -70px;
    min-height: 660px;
    background-color: black;
}

.promo .row h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 94px;
    color: #FFFFFF;
}

.promo .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.promo .row .item {
    max-width: 600px;
    max-height: 226px;
    position: relative;
}

.promo .promo_descr{
    padding-left: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #2FFBC8;
}

.promo .promo_subdescr{
    position:absolute;
    top: 58px;
    font-style: normal;
    font-weight: normal;
    font-size: 94px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.promo span{
    content:"";
    position:absolute;
    border-top:1px solid #2FFBC8;
    width:80px;   
    top: 13px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.blog .blog_cards {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 190px;
}

.blog .blog_card {
    max-width: 399px;
    max-height: 444px;
    margin-top: 48px;
    margin-right: 1px;
}

.blog .blog_card .card_subtitle {
    display: flex;
    margin-top: 24px;
}

.blog .blog_card .card_subtitle .card_date{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    
    margin-right: 26px;
}

.blog .blog_card .card_subtitle .card_category {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-right: 25px;
}

.blog .blog_card .card_title {
    margin-top: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;    
    color: #121212;
}

.blog .blog_card .card_dots {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/icon/Oval.png');
}

.blog .blog_card .card_dots:nth-child(2n) {
    display: none;
}

.blog .blog_card .card_dots img{
    margin-right: 4px;
}

footer {
    position: relative;
    min-height: 280px;
    background-color: black;
}

footer .footer_row {
    padding-top: 78px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer_company {
    color: white;
}

footer .footer_menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: 46px;
    list-style: none;
    color: white;
}


footer .footer_menu li a{
    margin-left: 46px;
}

footer .footer_social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;  
}

footer .footer_social img{
    display: block;
    margin-left: 46px;
}

@media screen and (max-width: 550px) {
.header_container {
    padding: 0 20px;
}

.header .header_btn .header_search {
    padding-right: 10px;
}

.header .header_menu {
    margin-left: 75px;
}

.header .header_account {
    padding-right: 10px;
}

.header .header_lang {
    position: absolute;
    right: -17px;
    top: 43px;
}

.container {
    margin-top: 120px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
}

footer .footer_menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

footer .footer_menu ol,ul{
    padding-left: 0;
    margin: 0;

}

footer .footer_row {
    display: block;
    text-align: center;
}

footer .footer_social {
    padding-bottom: 30px;
}

}


/* PAGE2 */

.main_title {
    display: flex;
    flex-wrap: wrap;
    min-height: 480px;
    margin-top: -70px;
    background: url('../img/bg_img.jpg') no-repeat center center/ cover;
    
}

.main_title .all_media {
    padding-top: 170px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.main_title .all_media img {
    position: relative;
    left: -52px
}

.main_title .time_read {
    display: flex;
    justify-content: flex-end;
    padding-top: 46px;
    margin-right: 174px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
 }

 .main_title .time_read .view_pdf {
     padding-left: 36px;
 }

.main_title .title {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-top: 22px;
}

.main_title .title h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #2FFBC8;
}

.main_title .title_container {
    margin: 0 auto;
    width: 1224px;
}

.main_title .title_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main_title .title_row .title_item {
    padding: 50px 0;
    text-align: center;
    background: coral;
    width: 100%;
}

.main_title .title_row .subtitle {
    display: flex;
    color: white;
    padding-top: 51px;
}

.main_title .title_row .subtitle .date_subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 148px;
    
}

.main_title .title_row .category_subtitle {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #FFFFFF;

   
}

.main_title .title_row .category_subtitle .category_item {
    padding-right: 26px;
}

.main_text {
    position: relative;
    background-color: #F2F2F2;
}

.main_text .main_text__grid{
    display: flex;
    flex-wrap: wrap;
}   

.main_text .main_text__column{
    display: flex;
    flex-wrap: wrap;
}   

.main_text .social {
    position: absolute;
    top: 130px;
    display: flex;
    flex-direction: column;
    
}

.main_text .social .social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79px;
    height: 79px;
    background: #2FFBC8;
}


.main_text .text_field {
    margin-top: 129px;
    max-width: 600px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #121212;
    padding-bottom: 300px;
}

.main_text .text_field .big_symbol{
    float: left;
    padding: 40px;
    padding-left: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    color: #2FFBC8;
}

.main_text .contact_block {
    width: 480px;
    Height: 353px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -130px;
    right: 0;
}

.main_text .contact_info .contact_info__title{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
}

.main_text .big_symbol {
    font-style: normal;
    font-weight: normal;
    font-size: 94px;
    color: #2FFBC8;

}

.main_text .kpta {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #2FFBC8;
}

.main_text .sub_text {
    position: absolute;
    right: 90px;
    bottom: 300px;
}

.slider_container {
    position: relative;
    top: -200px;
}

.slider {
    max-width: 100%;
    overflow: hidden;
}

.slider .slider_line {
    display: flex;
    background-color: coral;
    transition: all ease 1s;
}

.slider_container .button{
    position: relative;
    display: flex;
    justify-content: center;
    left: 1160px;
    bottom: 560px;
    width: 80px;
    height: 80px;
    background-color: #2FFBC8;
    font-size: 45px;
}

.main_text__container {
    max-width: 1320px;
    margin: 20px auto;
}

.main_text .action_block{
    display: flex;
    flex-wrap: wrap;
    padding: 85px 120px;
    text-align: center;
    align-items: center;
    width: 840px;
    height: 280px;
    background-color: #2FFBC8;
}

.main_text .action_block p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;  
    color: #121212;
}

.main_text .text_field_2 p{
    width: 600px;
    margin-right: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #121212;
    margin-top: 73px;
    margin-left: 110px;
    padding-bottom: 180px;
    
}

.main_text .text_category {
    background-color: white;
    margin-left: 10px;
    height: 448px;
    width: 480px
}